
        *{
            padding: 0;
            margin: 0;
            font-size: 16px;
            
        }

        .navbar{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: blanchedalmond;
        }
        .navigation ul {
            list-style: none;
            display: flex;
            gap: 30px;

        }

   