
        *{
            padding: 0;
            margin: 0;
            font-size: 16px;
            
            
        }

        .navbar{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: blanchedalmond;
        }
        .navbar h1{
            font-size: 32px;
        }
        .navigation{
            width: 50%;
        }
        .navigation ul {
            height: 30px;
            list-style: none;
            display: flex;
            font-size: 22px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 8px;
            

        }

        .navigation li {
    border: 3px solid transparent;
    padding: 5px 10px;
}

.navigation li:hover {
    background-color: rgb(66, 204, 228);
    border-color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(73, 7, 179);
}

            .heading {
    background-color: antiquewhite;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* <-- add this */
    }

    .heading h1,
    .heading span 
 {
    font-size: 64px;
    text-align: center; 
 }

    .heading p{
        font-size: 18px;
        text-align: center;
        padding: 20px 160px 20px 160px;
        

    }

    .heading button
    {
        font-size: 18px;
        height: 45px;
        width: 130px;
        background-color: rgb(235, 138, 11);
        border-radius: 10px;
        color: aliceblue;
        font-weight: bolder;
    }

    .heading button:hover{
        background-color: rgb(216, 188, 26);
        box-shadow: 10px 15px 13px gray;

    }

    .banner
    {   
        display: flex;
        background-color: antiquewhite;
        height: 600px;
        width: 100%;
        
        
    }

    .banner img
    
    {   padding-top: 80px;
        height: 520px;
        width: 70%;
        margin: auto;
    }

    .qList{
            display: flex;
            height: 550px;
            width: 65%;
            padding-top: 60px;
            gap: 40px;
            align-items: center;
            margin: auto;
        }

        .team img{
            padding: 2px;
            width: 48%;
            height: 45%;
        }

        .features{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 44px;
        }

        .features h2{
            font-size: 40px;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.603);
        }
        #black{
             font-size: 40px;
            font-weight: 1000;
            color: black;
        }

        #yellow{

             font-size: 40px;
            font-weight: 1000;
            color: oklab(75.053% 0.09416 0.15231 / 0.986);
        }

        .features p{
            font-size: 16px;
            padding-top: 20px;
            padding-bottom: 30px;
        }


         .features button
    {
        font-size: 18px;
        height: 45px;
        width: 130px;
        background-color: rgb(235, 138, 11);
        border-radius: 10px;
        color: aliceblue;
        font-weight: bolder;
    }

    .features button:hover{
        background-color: rgb(216, 188, 26);
        box-shadow: 10px 15px 13px rgb(95, 206, 118);

    }


       .featuresLove{
    display: flex;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.line{
    display: flex;

    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 10px;
    height: 70px;
    width: 8px;
    background-color: rgb(240, 146, 4);
    
}
.Heading{
    display: flex;
}

.TextFeatures{
    
    width: 65%;
}

.TextFeatures p{
    
    padding-top: 10px;
    padding-bottom: 20px;
}
.imgFeatures{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.button {
    position: absolute;
    /* padding: 5px; */
    padding-top: 10px;
    height: 80px;
    width: 210px;
    background-color: rgb(249, 138, 1);
    border-radius: 10px;
    bottom: 150px;
    left: -30px;
    text-align: center;
    justify-content: center;
    
}

.button button{
    
    text-align: center;
    font-weight:700;
    /* height: 80px;
    width: 230px; */
    background-color: rgb(249, 138, 1);
    border: none;
    color: white;
    
}

.imgFeatures img{
    width: 100%;
    height: 80%;
}

.TextFeatures h1,span{
    font-size: 38px;
    margin-bottom: 20px;
}

.f-p-div{
    margin-bottom: 20px;
    gap: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.f-p-div h3{
    font-size: 23px;
    margin-bottom: 10px;
}


.facts{
    padding-top: 50px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: start;
   
    align-items: start;
    margin: auto;
}

.fact-heading  {
    font-size: 26px;
    text-wrap:initial;
    width: 50%;
    height: auto;
    
}
.fact-heading h2 {
    font-size: 26px;
    padding-bottom: 20px;
}

.history{
    display: flex;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    justify-content: space-between;
    
}

.history-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 17%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 205, 40, 0.701);
}

.history-box img{
    height: 35px;
    width: 35px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.history-box h1{
    font-size: 38px;
    padding-bottom: 10px;
}