
        *{
            padding: 0;
            margin: 0;
            font-size: 16px;
            background-color: whitesmoke;
            
        }

        .navbar{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: blanchedalmond;
        }
        .navbar h1{
            font-size: 32px;
        }
        .navigation{
            width: 50%;
        }
        .navigation ul {
            height: 30px;
            list-style: none;
            display: flex;
            font-size: 22px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 8px;
            

        }

        .navigation li {
    border: 3px solid transparent;
    padding: 5px 10px;
}

.navigation li:hover {
    background-color: rgb(66, 204, 228);
    border-color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(73, 7, 179);
}

            .heading {
    background-color: antiquewhite;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* <-- add this */
    }

    .heading h1,
    .heading span 
 {
    font-size: 64px;
    text-align: center; 
 }

    .heading p{
        font-size: 18px;
        text-align: center;
        padding: 20px 160px 20px 160px;
        

    }

    .heading button
    {
        font-size: 18px;
        height: 45px;
        width: 130px;
        background-color: rgb(235, 138, 11);
        border-radius: 10px;
        color: aliceblue;
        font-weight: bolder;
    }

    .heading button:hover{
        background-color: rgb(216, 188, 26);
        box-shadow: 10px 15px 13px gray;

    }

    .banner
    {   
        display: flex;
        background-color: antiquewhite;
        height: 600px;
        width: 100%;
        
        
    }

    .banner img
    
    {   padding-top: 80px;
        height: 520px;
        width: 70%;
        margin: auto;
    }

    .qList{
            display: flex;
            height: 550px;
            width: 65%;
            padding-top: 60px;
            gap: 40px;
            align-items: center;
            margin: auto;
        }

        .team img{
            padding: 2px;
            width: 48%;
            height: 45%;
        }

        .features{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 44px;
        }

        .features h2{
            font-size: 40px;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.603);
        }
        #black{
             font-size: 40px;
            font-weight: 1000;
            color: black;
        }

        #yellow{

             font-size: 40px;
            font-weight: 1000;
            color: oklab(75.053% 0.09416 0.15231 / 0.986);
        }

        .features p{
            font-size: 16px;
            padding-top: 20px;
            padding-bottom: 30px;
        }


         .features button
    {
        font-size: 18px;
        height: 45px;
        width: 130px;
        background-color: rgb(235, 138, 11);
        border-radius: 10px;
        color: aliceblue;
        font-weight: bolder;
    }

    .features button:hover{
        background-color: rgb(216, 188, 26);
        box-shadow: 10px 15px 13px rgb(95, 206, 118);

    }